main {
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.part img {
  height: 450px;
  border: 1px solid grey;
}

img {
  object-fit: contain;
}

h1 {
  text-align: center;
  color: green;
}

#container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

button {
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: green;
  color: white;
  border-color: #66b032;
  font-size: 16px;
}

a > button {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

label {
  color: green;
  font-weight: bold;
}
